.forgot-password1{
    padding: 4rem;    
    background: linear-gradient(to right, rgba(89, 176, 71, 0.5), rgba(218, 218, 218, 1));
    top: 50%;
    left: 50%;     
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    
    .card{
        padding-bottom: 1rem;
        box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.2);
        width: 45%;
        background-color: white;
        border-radius: 0.7rem;
        background: linear-gradient(to right, rgba(89, 176, 71, 0.5), rgba(218, 218, 218, 1));
        margin-bottom: 2em;

    

.heading{
    margin: 1rem;
    color: white;
    color: black;
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.logo{
    padding: 1rem;
    text-align: center;
    
    img{
        border-radius: 50%;
        width: 11em;
        padding: 0.7rem;
        box-shadow: 0px 0px 10px 0px rgba(51, 49, 49, 0.3);
    }
}

.fp-box{
    text-align: center;
    width: 100%;

    .input{
        margin: 1rem 0;

        input{
            padding: 0.5rem;
            height: 1.3rem;
            width: 55%;
            font-size: 0.9rem;
            border-radius: 0.5rem
        }
        
    }

    .button{
    
        button{
            color: white;
            background-color: rgba(69, 63, 82, 1);
            transform: translate(0%, 10%); 
            font-size: 1.2rem;
            font-weight: 600;
            padding: 0.4rem 4rem ;
            border-radius: 0.5rem;
            margin-top: 1rem;
            margin-bottom: 2rem;
        }
        
    }
}

}
}