.profile1 {
    text-align: center;
    padding: 2rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(to right, rgba(89, 176, 71, 0.5), rgba(218, 218, 218, 1));

.top{
    .text1{
        margin-top: 3em;
        align-items: center;
    }
}

    .image {
        width: fit-content;
        border-radius: 2em;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;


        img {
            width: fit-content;
            margin-right: 0.5em;
            display: flex;
            justify-content: center;
            

            
        }
    }

    .top {

        .image {
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;
            margin: 0 auto;
            object-fit: cover;


            img {
                width: 100%;
            }
        }

        .text1 {
            text-decoration: underline;
        }

        .text2 {
            font-size: 1.5rem;
        }

    }

    .middle {
        padding: 2rem;

        .line1 {
            display: grid;

            grid-template-columns: 1fr 1fr 1fr 1fr;
            text-align: justify;
            margin-left: 11rem;
        }

        .two {
            font-size: 1.2rem;
            font-weight: 600;
        }

        .three {
            font-size: 1rem;
            font-weight: 600;
            color: rgb(121, 116, 116);
        }
    }

    .bottom {
        padding: 1rem;
        

        .green {
            margin-left: 5rem;
            padding: 0.7rem 3.2rem;
            border-radius: 0.5rem;
            background-color: rgba(89, 176, 71, 1);
            color: white;
            border: none;
            font-size: 1.1rem;
        }

        .black {
            margin-left: 9rem;
            padding: 0.7rem 3.5rem;
            border-radius: 0.5rem;
            background-color: rgba(34, 31, 31, 1);
            color: white;
            border: none;
            font-size: 1.1rem;
            
        }
    }
}

.profile1::before {
    content: "";
    position: absolute;
    top: 40%;
    left: -47%;
    width: 100%;
    height: 100%;
    background-image: url('./img/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}