.sc1{
    background: linear-gradient(to right, rgba(89, 176, 71, 0.5), rgba(218, 218, 218, 1));
    padding: 2rem;
    
    // margin-top: 4rem;
    height: 100vh;


    .button{
        background-color: rgba(8, 7, 7, 0.842);
        color: white;
        padding: 0.6rem 2rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
        margin: 0rem 1rem;
    }

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 5em;
        

        p{
            font-size: 1.1rem;
            color: grey;
            margin: 0.6rem;
        }
    }


}